body{
    background-color: rgba(235, 210, 210, 0.849);
    overflow: scroll;
}
.card{
    position: relative;
    width: 40%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin:20% 30%;
    
}
.content{
    position: relative;
    left: 50%;
    padding: 35px;    
    padding-top: 10px;
}
.image{
    position: absolute;
    background-image: url('laura-chouette-4sKdeIMiFEI-unsplash.jpg');
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_description{
    font-family: 'Gill Sans MT';
    color: rgba(0, 0, 0, .5);
    font-size: 16px;
    font-size: 1.2rem;
}
.title{
    font-family: serif;
    color: rgba(0, 0, 0, .5);

}
.card_header{
    font-family: 'Fraunces', serif;
    font-stretch: expanded;
    font-size: 2rem;
}
.price{
    display: inline-block;
    color:rgba(200, 5, 12, 0.93);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}
.first_price{
    padding-left:40px;
    color: rgba(0, 0, 0, .5);
    font-family: 'Fraunces', serif;
    font-size: 1rem;
}
.button{
    width: 30%;
    height: 40px;
    border: 1px solid rgba(200, 5, 12, 0.93);
    border-radius: 7px;
    background-color:rgba(200, 5, 12, 0.93) ;
    padding-left: 30px;
    padding-top: 10px;
}
.button a{
    font-size: 1.2rem;
    font-family:'Fraunces', serif;
    text-decoration: none;
    color:white;
    padding-left: 5px;
}
